html,body,div,span,h1,h2,h3,h4,a,address,em,img,small,sub,sup,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border:0;
	margin:0;
	padding:0;
	font-weight: normal;
}

footer,header,nav,section,label {
	display:block;
}

@font-face {
  font-family: 'Glyphicons';
  src: url('/images/fonts/Glyph-Icons/glyphicons-regular.eot');
  src: url('/images/fonts/Glyph-Icons/glyphicons-regular.eot?#iefix') format('embedded-opentype'), 
    url('/images/fonts/Glyph-Icons/glyphicons-regular.woff') format('woff'), 
    url('/images/fonts/Glyph-Icons/glyphicons-regular.ttf') format('truetype'), 
    url('/images/fonts/Glyph-Icons/glyphicons-regular.svg#glyphicons_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.center {
	text-align: center;
}

h1 {
	font-size: 23px;
}

h1 small {
	display: block;
	font-size: 16px;
}

/* ugh. for prof names in recent.php */
a.h2 {
	font-size: 1.3em;
}

a {
	color: #039;
}

a img {
	border:0;
}

ul {
	list-style-type: none;
}

button {
	cursor: pointer;
}

body {
	font-size: 15px;
	margin: 0;
	font-family: Arial, Sans;
	background-color: #ececeb;
/*	background-image: url("/images/texture-light-gray.png"); */
	background-repeat: repeat;
}

.outerWrapper {
	float: left;
	width: 100%;
}

.pageInner {
	position: relative;
	width: 988px;
	margin: 0 auto;
}

@media (max-width:995px) {
	body {
		min-width:1054px;
	}

	#headerWrapper {
		min-width:1054px;
	}

	.pageInner {
		padding-left: 15px;
		padding-right: 15px;
	}
}

table {
	width: 100%;
}

td {
	vertical-align: top;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


button.ui-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border:0;
	width: 17px;
	height: 17px;
	background-position: 0 -746px;
	cursor: pointer;
}


.textNoLink {
	text-decoration: none;
	color: inherit;	
}


#headerWrapper.TD {
	background-color: #477BE4;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6392f4,endColorstr=#477be4)";
	filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6392f4,endColorstr=#477be4)";
	background:-webkit-gradient(linear, left top, left bottom, from(#6392f4), to(#477be4));
	background: -moz-linear-gradient(top,  #6392f4,  #477be4);
	background: -ms-linear-gradient(top, #6392f4, #477be4);
	background: -o-linear-gradient(top, #6392f4,#477be4);
	border-bottom: 1px solid #3363C4;
}

#headerWrapper.BUILD {
	background-color: #ff6600;
	background: -o-linear-gradient(top, #FF6600 6%, #FF6F00 70%);
	background: -moz-linear-gradient(top, #FF6600 6%, #FF6F00 70%);
	background: -webkit-linear-gradient(top, #FF6600 6%, #FF6F00 70%);
	background: -ms-linear-gradient(top, #FF6600 6%, #FF6F00 70%);
}

#headerWrapper.CAM {
	background: #579027;
	background: -webkit-gradient(linear, left top, left bottom, from(#588a30), to(#699d3f));
	background: -moz-linear-gradient(top, #588a30, #699d3f);
	background: -ms-linear-gradient(top, #588a30, #699d3f);
	background: -o-linear-gradient(top, #588a30,#699d3f);
	background: #6cad2f url('/images/header-background-cam.gif') no-repeat top center;
	border-bottom: 1px solid #44741F;
}


#headerWrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	height:40px;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.65);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.65);
	box-shadow: 0 0 20px rgba(0,0,0,0.65);
}

#pageWrapper {
	position: relative;
	margin-top: 40px;
	background-color: #fff;
}

#headerWrapper h1 {
	font-size: 0;
}

a.active {
	font-weight: bold;	
}

div.cols-2.col {
	float: left;
	width: 100%;
	margin-right: 2.5%;
}

div.cols-3.col {
	float: left;
	width: 30%;
}

.twocol .col {
	float: left;
	width: 45%;
	padding-right: 2.5%;
}

.twocol .col h2 {
	clear: both;
	font-size: 14px;
	font-weight: bold;
}

div.cols-1.col {
	float: left;
	width: 97.5%;
	margin-right: 2.5%;
}

#contextual {
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	color: #555;
	display: block;
	overflow: hidden;
	margin-top: 15px;
}

.contextual-left a,
.contextual-right a {
	color: #555;
	text-decoration: none;
}

.contextual-left {
	float: left;
	padding-bottom: 4px;
}

.contextual-right {
	float: right;
}

.contextual-clear {
	clear: both;
	padding-bottom: 8px;
}

#page-wrapper .contextual-right {
	padding-right: 0;
}

#page-wrapper .contextual-left {
	white-space: nowrap;
}
/* end contextual menu */

#pageFooter {
	position: relative;
	bottom: 0px;
	left: 0px;
	clear:both;
	color: #999;
	font-size: 11px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 20px solid #fff;
}

footer a {
	text-decoration: none;
	color: #999;
}

footer a:hover {
	text-decoration: underline;
}

.footerLogo {
	display: inline-block;	
	text-indent: -500px;
	overflow: hidden;
	margin-right: 25px;
}

.footerLogo:last-child {
	margin-right: 0;
}

#footerLogoTd {
	width: 97px;
	height: 23px;
	background-position: 0px -283px;
}

#footerLogoCam {
	width: 132px;
	height: 23px;
	background-position: 0px -333px;
}

#footerLogoBuild {
	width: 147px;
	height: 23px;
	background-position: 0px -360px;
}

#footerNav {
	font-size: 0;
	margin: 4px 0px;
}

#footerNav a {
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}

#footerNav a:hover {
	text-decoration: underline;
}

#footerNav li {
	display: inline-block;
}

#footerNav li:after {
	content: '|';
	padding: 0px 3px;
	color: #999;
	font-size: 11px;
	display: inline-block;
}

#footerNav li:last-child:after {
	content: '';
}

#metaSearches {
	background: #e2e2e1;
	padding: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

#metaSearches h3 {
	cursor: pointer;
	display:inline;
	padding-right: 12px;
	font-size: 13px;
	color: #777;
	vertical-align: top;
}

#metaSearches ul {
	display: inline-block;
	margin-top: 8px;
}

#metaSearches .no-h {
	margin-top: 23px;
}

#metaSearches li {
	margin-top: 5px;
}

.collapsible-content {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #cacaca;
}

.collapsible-arrow {
	position: relative;
	display: inline-block;
	background-color: #787875;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 10px;
	border-radius: 16px;
	margin-top: 0px;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin-top: -1px;
}

.collapsible-arrow:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 6px;
	top: 4px;
	border-left: 4px solid #fff;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	transition: transform .2s;
	-moz-transition: -moz-transform .2s;
	-webkit-transition: -webkit-transform .2s;
	-o-transition: -o-transform .2s;
}

.collapsed .collapsible-arrow:after {
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-moz-transform:rotate(0deg); /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-o-transform:rotate(0deg); /* Opera */
}


#metaSearches h4 {
	font-weight: bold;
	font-size: 13px;
}

#signupPromo {
	position: relative;
	display: inline-block;
	background-position: 0 -805px;
	background-repeat: no-repeat;
	width: 545px;
	height: 75px;
	margin-left: -55px;
}

#signupPromoMessage {
	width: 230px;
	float: left;
	color: #333;
	font-size: 1.2em;
	text-align: center;
	margin-top: 18px;
	margin-left: 65px;
	font-size: 13px;
}

#signupPromoBtn {
	margin-top: 17px;
}

.field-label {
	font-weight: bold;
}

.ui-popup.processed,
.ui-modal {
	border: 1px solid #ccc;
	position: absolute;
	left: 15px;
	background-color: #fff;
	width: 250px;
	padding: 20px 30px;
	font-size: 12px;
	box-shadow: 2px 2px 2px #afafaf;
	z-index: 9999;
	border-radius: 3px;
	color: #333;

}

.ui-popup h2,
.ui-popup h2 span {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 1em;
}


#ui-overlay {
    position: fixed;
    z-index:9000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.ui-modal {
	min-height: 300px;
	border: 1px solid #ccc;
	position: absolute;
	left: 15px;
	background-color: #fff;
	padding: 10px;
	font-size: .8em;
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color=#afafaf,offY=2,offX=2)";
	box-shadow: 2px 2px 2px #afafaf;
	padding: 30px;
	border-radius: 3px;
}

hr {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
    border: 0;
    height: 1px;
    background: #ccc;
}

.ui-modal {
	width: 740px;
	font-size: 1em;
	line-height: 1.5em;
	padding: 30px;
	border-radius: 3px;
}

.js [data-ui-type=popup] {
	display: none;
}


.ui-modal {
	display: none;
}


.ui-sprite {
	/*background-image: url("/images/sprite1.svg");*/
}

.ui-sprite-png,
html.no-svg .ui-sprite,
html.no-js .ui-sprite {
	background-image: url("/images/sprite1.png");
}

.ui-modal-content .profile-right {
	width: 215px;
}

.ui-modal-content .profile-middle {
	width: 430px;
}

.photo-large .photo-large-item {
	position: absolute;
	top: 0;
	left: 0;	
}

.photo-large img {
	opacity: 0;
	transition: opacity 1s;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s; /* Opera */
}

tr.lightRow {
	background-color: #fff;
}

tr.darkRow {
	background-color: #efefef;
}

.content-privacy ol,
.content-terms ol {
	padding-left: 40px;
}

.content-privacy ol li,
.content-terms ol li {
	padding-bottom: 10px;
}

/* @group Alerts */

/* generic alerts followed by specific colors per type */
.alert-alert,
.alert-error,
.alert-confirm {
	padding: 12px 0 12px 28px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

/* generic red error for user errors or fatal errors */
/* this is replicated in marketing.css for the marketing pages */
.alert-error {
	background-color: #fccece;
	border: 1px solid #fd8e8e;
	color: #d40000;
}

/* generic green confirmation */
.alert-confirm {
	background-color: #def8d2;
	border: 1px solid #afd79c;
	color: #3c821b;
}

/* generic yellow alert for non-user errors and notifications */
.alert-alert {
	background-color: #fcf8ce;
	border: 1px solid #fde98e;
	color: #505043;
}

/* highlights bad fields on email page and others */
.textError {
	color: #ff0000;
}
/* @end */

/* breadcrumb trail as buttons */
/* this appears BOTH on prof-results as well as on prof-detail */
.geographyLink {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 8px;
	/* we use height instead of max-height for breadcrumbs with one item and no arrow */
	height: 30px; 
	display: inline-block;
	vertical-align: top;
}

.geographyItem {
vertical-align: top;
	display: inline-block;
	font-size: 14px;
}

.geographyLink .geographyItem.last .ui-sprite {
	background-image: none;
	padding-right: 5px;
}

.geographyItem .textError,
.geographyItem .lastName,
.geographyItem a {
	text-decoration: none;
	display: block;
	padding-top: 7px;
	padding-bottom: 6px;
	vertical-align: top;
}

.geographyNoLink {
	padding-top: 7px;
}

.geographyItem .ui-sprite {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background-position: right -398px;
	margin-left: 3px;
	padding-right: 15px;
	background-repeat: no-repeat;
}

.geographyDivider {
	display: none;
}

#geographyBtns {
	display: inline-block;
	vertical-align: top;
}

/* @end */

#mem-sign #copyright {
	float: right;
	clear: none;
	text-align: right;
	margin-top: -13px;
}


.login-form {
	border:1px solid #ddd;
	border-radius: 4px;
	padding:0px 30px 20px 30px;
	width:700px;
	display:block;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 40px;
}

.login-form h1 {
	font-family: "Arvo", "Trebuchet MS", Arial, sans-serif;
	font-weight:normal;
	border-bottom:1px solid #ddd;
	padding-bottom:.3em;
	margin: .6em 0;
	font-size: 30px;
	color: #084a85;
}

.login-form .login-right {
	max-width:49%;
	float:right;
	border-left:1px solid #ddd;
	padding-left: 30px;
}

.login-form .login-left {
	max-width:49%;
}

.login-form h3 {
	margin-top: 0px;
	font-weight: bold;
	margin-bottom: 1em;
}

.login-form ul {
	padding-left: 20px;
	list-style-type: disc;
	margin-bottom: 1em;
}

.login-form ul li {
	margin-bottom: 1em;
}

.login-form label {
	color: #747474;
}

.login-form label,
.login-form input {
	display: block;
}

.login-form .error {
	color: #ff0000;
}

.login-form input {
	font-size:18px;
	line-height:18px;
	margin-bottom: 1em;
}

.login-form .login {
	background:#69AD31;
	color:white;
	border:1px solid #5C982C;
	text-shadow: 1px 1px 0px #5C982C;
	font-weight: bold;
	border-radius:4px;
	padding:12px 32px;
	font-size:14px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

.login-form .login:hover {
	background-color: #569720;
}

.login-form a.forgot {
	font-size:11px;
	color:#000;
}

.login-form.join {
	clear:both;
	margin-top:20px;
	font-family:Georgia,Serif;
	font-style:italic;
	font-size:24px;
	color:#999;
	display:block;
	text-align:center;
	width: 800px;
	border: none;
}

.login-form.join a {
	color: #999;
}

#recent td {
	padding: 8px 0;
}

#recent img {
	margin: 0 8px;
}

.flag-item-name {
	max-width: 140px;
	display: inline-block;
}

#flag-tool {
	position: fixed;
	color: #fff;
	width: 100%;
	bottom: -90px;
	height: 90px;
	font-size: 12px;
	background-color: #393939;
	-webkit-box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, .2);
	box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, .2);
	z-index: 1001;
}

#flag-tool.initialized {
	-webkit-transition: bottom .5s;
	-o-transition: bottom .5s;
	-moz-transition: bottom .5s;
	transition: bottom .5s;
}

.flag-item-image img {
	float: left;
	max-width: 52px;
	height: auto;
	margin-right: 10px;
}

.flag-item-info {
	width: 120px;
	float: left;
	height: 65px;
}

.flag-list-wrapper {
	height: 70px;
}

.flag-list {
	position: relative;
}

.flag-list li {
	position: relative;
	vertical-align: top;
	width: 200px;
	margin-right: 5px;
	background-color: #2d2d2d;
	padding: 5px;
	height: 65px;
	color: #d7d7d7;
	cursor: default;
}

#flag-tool.open {
	bottom: 0px;
}


#flag-tool.open-static {
	-moz-transition: bottom 0s;
	-webkit-transition: bottom 0s;
	transition: bottom 0s;
}

.flag-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #ccc;
	margin-right: 5px;
}

.flag-actions {
	background-color: #393939;
	left: 0px;
	position: absolute;
	top: 0;
	margin-top: -40px;
	opacity: 1;	
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #333;
	overflow: hidden;
	height: 40px;
	vertical-align: top;
}

.flag-actions li {
	display: inline-block;
	vertical-align: top;
	height: 40px;
}

.flag-empty-msg {
	position: relative;
	overflow: hidden;
	width: 50%;
	text-align: center;
	margin: 20px auto;
	height: 30px;
	font-size: 16px;
	padding-top: 12px;
	background-color: #2d2d2d;
}

.flag-tab {
	background-repeat: no-repeat;
	background-position: 8px -240px;
	padding-left: 30px;
	padding-right: 10px;
}

.flag-actions div {
	display: block;
	padding-top: 15px;
	padding-right: 10px;
	height: 25px;
}

.flag-btn {
	background-color: transparent;
	border: 0;
	border-left: 1px solid #222;
	color: #ccc;
	font-weight: normal;
	width: 100%;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}
.flag-item-phone {
	margin-bottom: 5px;
	width: 140px;
}

.flag-item-btn {
	display: inline-block;
	background-color: #666;
	color: #ccc;
	font-size: 11px;
	margin-right: 5px;
	padding: 3px;
	text-decoration: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.flag-item-remove {
	background-color: transparent;
	border: 0;
	padding: 2px;
	margin: 2px;
	color: #ccc;
	position: absolute;
	font-size: 12px;
	right: 3px;
	top: 0px;
	border-radius: 0;
}

.flag-item-remove:hover {
	background-color: #444;
}

.flag-item-name {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.flagging #pageFooter {
	padding-bottom: 50px;
}

.flag-open #pageFooter {
	padding-bottom: 175px;
}

.flag-backresults.disabled {
	cursor: default;
	color: #999;
	display: none;
}


.flagBtnWrap {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 43px;
}

.flagBtn,
.flagDefaultMsgIcon {
	position: absolute;
	right: -30px;
	top: -30px;
	width: 60px;
	height: 60px;
	transform: rotate(45deg) ;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	transition: background-color .5s;
	-webkit-transition: background-color .5s;
	-o-transition: background-color .5s;
	-ms-transform: background-color .5s;
	background: #DDD;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.flagDefaultMsgIcon {
	cursor: default;
}

.flagBtn:hover,
.result-row:hover .flagBtnWrap:hover .flagBtn { 
	background: #bbb;
}


.result-row:hover .flagBtnWrap:hover .flagBtn.flagged,
.resultsRow:hover .flagBtn.flagged,
.flagBtn.flagged,
.flagDefaultMsgIcon {
	background: #ff9211;
}

.flag-actions .flagBtn {
	cursor: default;
}

.flagBtnInner,
.flagDefaultMsgIconInner {
	border:0; outline: none;
	width: 100%;
	height: 100%;
	transform: rotate(-45deg) ;
	-webkit-transform: rotate(-45deg) ;
	-moz-transform: rotate(-45deg) ;
	-o-transform: rotate(-45deg) ;
	-ms-transform: rotate(-45deg) ;
	background-position: 11px -217px;
}

.flag-hide {
	color: #666;
	font-size: 14px;
}

.flag-tab {
	cursor: pointer;
}
.profile-buttons .flag-button {
	font-size: 13px;
}

.sliderNextPg {
	position: absolute;
	right: 0;
	top: 8px;
	width: 20px;
	height: 39px;
	margin: 13px 12px 0 12px;
	background-position: -143px -38px;
	cursor: pointer;
}

.sliderPrevPg {
	position: absolute;
	left: 0;
	top: 8px;
	width: 20px;
	height: 39px;
	margin: 13px 12px 0 12px;
	background-position: -122px -38px;
	cursor: pointer;
}

.sliderContainer {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 5px;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

.sliderList {
	position: relative;
	left: 0;
	transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;	
}

.sliderItem {
	float: left;
	display: inline-block;
	margin: 0;
	padding-right: 2px;
	vertical-align: top;
}

.slider {
	position: relative;
	overflow: hidden;
}

li .btn {
	margin-top: 5px;
}

.btn {
	font-family: inherit;
	margin-top: 0px;
	display: inline-block;
	text-decoration: none;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #f7f7f7, #D6D6D6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#D6D6D6));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #D6D6D6);
	background-image: -o-linear-gradient(top, #f7f7f7, #D6D6D6);
	background-image: linear-gradient(to bottom, #f7f7f7, #D6D6D6);
	background-repeat: repeat-x;
	border: 1px solid #cecece;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-position: top;
	background-size: 1px 60px;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;
	-webkit-transition: background-position 0.2s linear, border-color 0.5s;
	-moz-transition: background-position 0.2s linear,  border-color 0.5s;
	-o-transition: background-position 0.2s linear, border-color 0.5s;
	transition: background-position 0.2s linear, border-color 0.5s;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
}

.btn:first-child {
}
.btn:hover,
.btn:focus {
  color: #333333;
  border: 1px solid #cccccc;
  text-decoration: none;
  background-position: center;
  -webkit-transition: background-position 0.2s linear, border-color 0.5s;
  -moz-transition: background-position 0.2s linear,  border-color 0.5s;
  -o-transition: background-position 0.2s linear, border-color 0.5s;
  transition: background-position 0.2s linear, border-color 0.5s;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  outline: 0;
  -webkit-transition: background-position 0s linear, border-color 0.5s;
  -moz-transition: background-position 0s linear,  border-color 0.5s;
  -o-transition: background-position 0s linear, border-color 0.5s;
  transition: background-position 0.2s linear, border-color 0.5s;
  background-position: bottom;

}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  -ms-filter: "alpha(opacity=65)";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 3px 10px 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-blue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.10);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #5183e8 0%, #285fd8 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5587ec), to(#285fd8));
  background-image: -webkit-linear-gradient(top, #5587ec, #285fd8);
  background-image: -o-linear-gradient(top, #5587ec, #285fd8);
  background-image: linear-gradient(to bottom, #5587ec, #285fd8);
  background-repeat: repeat-x;
  border-color: rgba(81, 131, 232, 1);
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #ffffff;
  background-color: #285fd8;
  border-color: rgba(81, 131, 232, 1);
}
.btn-blue:active,
.btn-blue.active {
  background-color: #003399;
}

.btn-orange {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-color: #fb9f00;
  background-image: -moz-linear-gradient(top, #fb9f00, #ff7611);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb9f00), to(#ff7611));
  background-image: -webkit-linear-gradient(top, #fb9f00, #ff7611);
  background-image: -o-linear-gradient(top, #fb9f00, #ff7611);
  background-image: linear-gradient(to bottom, #fb9f00, #ff7611);
  background-repeat: repeat-x;
  background-position: top;
  background-size: 1px 60px;
  border-color: #fb9f00;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
  color: #ffffff;
  border-color: #fb9f00;
  background-color: #ff7611;
}

.btn-red {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.10);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  color: #ffffff;
  background-color: #bd362f;
}
.btn-red:active,
.btn-red.active {
  background-color: #942a25;
}




.btn-yellow {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
background-color: rgb(255,250,117);
background-image: -moz-linear-gradient(top,  rgba(255,250,117,1) 0%, rgba(249,224,29,1) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,117,1)), color-stop(100%,rgba(249,224,29,1)));
background-image: -webkit-linear-gradient(top,  rgba(255,250,117,1) 0%,rgba(249,224,29,1) 100%);
background-image: -o-linear-gradient(top,  rgba(255,250,117,1) 0%,rgba(249,224,29,1) 100%);
background-image: -ms-linear-gradient(top,  rgba(255,250,117,1) 0%,rgba(249,224,29,1) 100%);
background-image: linear-gradient(to bottom,  rgba(255,250,117,1) 0%,rgba(249,224,29,1) 100%);

  background-repeat: repeat-x;
  background-position: top;
  background-size: 1px 60px;
  border-color: #1DAD00;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.btn-yellow.disabled,
.btn-yellow[disabled] {
  color: #ffffff;
  border-color: #009700;
}


.btn-green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffba46;
  background-image: -moz-linear-gradient(top, #1DAD00, #009700);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1DAD00), to(#009700));
  background-image: -webkit-linear-gradient(top, #1DAD00, #009700);
  background-image: -o-linear-gradient(top, #1DAD00, #009700);
  background-image: linear-gradient(to bottom, #1DAD00, #009700);
  background-repeat: repeat-x;
  background-position: top;
  background-size: 1px 60px;
  border-color: #1DAD00;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #ffffff;
  border-color: #009700;
}

.BUILD .btn-frost  {
	background-color: #ff964c;	
}
.CAM .btn-frost {
	background-color: #a9ce7e;
}
.TD .btn-frost {
	background-color: #8daff5;
}
.btn-frost {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-image: none;
  background-color: rgba(255,255,255, .30);
  border: 1px solid rgba(255,255,255,.35);
}

.btn-frost:hover,
.btn-frost:focus,
.btn-frost:active,
.btn-frost.active,
.btn-frost.disabled,
.btn-frost[disabled] {
  color: #ffffff;
  background-color: rgba(255,255,255,.25);
  border: 1px solid rgba(255,255,255,.25);
}

.btn-frost:active,
.btn-forst.active {
  background-color: rgba(255,255,255,.15);
  border: 1px solid rgba(255,255,255,.15);
}


.btn-link,
.btn-link:active,
.btn-link[disabled] {
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  border: none;
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

.btn-link:first-child {
	padding-left: 0;
	padding-right: 0;
}

.row {
  margin-left: -20px;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 988px;
}

.span12 {
  width: 988px;
}

.span11 {
  width: 904px;
}

.span10 {
  width: 820px;
}

.span9 {
  width: 736px;
}

.span8 {
  width: 652px;
}

.span7 {
  width: 568px;
}

.span6 {
  width: 484px;
}

.span5 {
  width: 400px;
}

.span4 {
  width: 316px;
}

.span3 {
  width: 232px;
}

.span2 {
  width: 148px;
}

.span1 {
  width: 64px;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}

.row-fluid {
  width: 100%;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.row-fluid .span12 {
  width: 100%;
}
.row-fluid .span11 {
  width: 91.48936170212765%;
}
.row-fluid .span10 {
  width: 82.97872340425532%;
}
.row-fluid .span9 {
  width: 74.46808510638297%;
}
.row-fluid .span8 {
  width: 65.95744680851064%;
}
.row-fluid .span7 {
  width: 57.44680851063829%;
}
.row-fluid .span6 {
  width: 48.93617021276595%;
}
.row-fluid .span5 {
  width: 40.42553191489362%;
}
.row-fluid .span4 {
  width: 31.914893617021278%;
}
.row-fluid .span3 {
  width: 23.404255319148934%;
}
.row-fluid .span2 {
  width: 14.893617021276595%;
}
.row-fluid .span1 {
  width: 6.382978723404255%;
}
.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
}
.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
}
.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
}
.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
}
.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
}
.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
}
.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
}
.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
}
.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
}
.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
}
.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
}
.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
}
.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
}

input, select {
	font-family: inherit;
}

.text-right {
	text-align: right;
}

.icon {
	display: inline-block;
	width: 14px;
	height: 14px;
}



i {
	display: inline-block;
	position: relative;
	font-style: normal;
	text-decoration: none;
	vertical-align: top;
	font: 22px/1em 'Glyphicons';
	width: auto;
}

i:before {
	float: left;
	text-indent: 0px;
	text-align: left;
	font: 16px/1em 'Glyphicons';
	color: #ccc;
}

.icon-large:before {
	float: left;
	text-align: left;
	font: 42px/1em 'Glyphicons';
  	color: #999;
  	padding-right: 10px;
}

.icon-huge:before {
	float: left;
	text-align: left;
	font: 64px/1em 'Glyphicons';
  	color: #999;
  	padding-right: 10px;
}

i.icon-white:before {
	color: #fff;
}
i.icon-group:before {
	content: "\e044";
}

i.icon-show_lines:before {
	content: "\e159";
}

i.icon-chevron-down:before {
	content: "\e224";
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

i.icon-chevron-right:before {
	content: "\e224";
}

i.icon-chevron-left:before {
	content: "\e225";
}

i.icon-vcard:before {
	content: "\e265";
}

i.icon-nameplate:before {
	content: "\e353";
}

i.icon-nameplate_alt:before {
	content: "\e354";
}

i.icon-user:before {
	content: "\e004";
}

i.icon-conversation:before {
	content: "\e245";
}

i.icon-wifi_alt:before {
	content: "\e033";
}

i.icon-search:before {
	content: "\e028";
}

i.icon-riflescope:before {
	content: "\e378";
}

#container-search-states {
	padding-top: 15px;
}
#container-search-states strong {
	font-size: 20px;
	font-weight: normal;
}

#container-search-states a {
	text-decoration: none;
}


#login {
	margin-top: 100px;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#searchFieldset .btn-link {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.9), 0 1px 1px rgba(0,0,0,0.9), 0 0px 10px rgba(0,0,0,0.9);
}

.hero div {
	font-weight: inherit;
}

.hero {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 15px rgba(0,0,0,1),0 -1px 1px rgba(0,0,0,0.6),0 0 30px rgba(0,0,0,1),0 0 60px rgba(0,0,0,1);
}

.padd {
  padding-left: 10px;
  padding-right: 10px;
}

.loginForm-outer {
	margin-top: 90px;
}

.loginForm {
	padding: 10px;
}

.frosted {
	background-color: rgba(255,255,255,1);
}

#hero-outer {
	position: relative;
	top: 0;
	height: 560px;
	background-color: #2D2D2D;
	padding: 0;
}

#hero-inner {
	position: relative;
	height: 560px;
	top: -560px;
}

.hero-image {
	position: relative;
	margin: 0 auto;
	max-width: 1600px;
	min-width: 1000px;
	box-sizing: border-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom: 1px solid #fff;
	height: 560px;
	z-index: 1;
}

@media only screen 
and (min-width : 1600px) {

	.hero-image {
		width: 1600px;
	}


	.hero-image:before {
		position: absolute;
		left: 0;
		top: 0;
		content: ' ';
		height: 560px;
		width: 100px;	
		background: -moz-linear-gradient(left,  rgba(45,45,45,1) 0%, rgba(57,57,57,0) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(57,57,57,0)));
		background: -webkit-linear-gradient(left,  rgba(45,45,45,1) 0%,rgba(57,57,57,0) 100%);
		background: -o-linear-gradient(left,  rgba(45,45,45,1) 0%,rgba(57,57,57,0) 100%);
		background: -ms-linear-gradient(left,  rgba(45,45,45,1) 0%,rgba(57,57,57,0) 100%);
		background: linear-gradient(to right,  rgba(45,45,45,1) 0%,rgba(57,57,57,0) 100%);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#00393939',GradientType=1 )";
	
	}
	
	.hero-image:after {
		position: absolute;
		right: 0;
		top: 0;
		content: ' ';
		height: 560px;
		width: 100px;
		background: -moz-linear-gradient(left,  rgba(57,57,57,0) 0%, rgba(45,45,45,1) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(57,57,57,0)), color-stop(100%,rgba(45,45,45,1)));
		background: -webkit-linear-gradient(left,  rgba(57,57,57,0) 0%,rgba(45,45,45,1) 100%);
		background: -o-linear-gradient(left,  rgba(57,57,57,0) 0%,rgba(45,45,45,1) 100%);
		background: -ms-linear-gradient(left,  rgba(57,57,57,0) 0%,rgba(45,45,45,1) 100%);
		background: linear-gradient(to right,  rgba(57,57,57,0) 0%,rgba(45,45,45,1) 100%);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#00393939', endColorstr='#2d2d2d',GradientType=1 )";
	}
}

.hero-content {
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 190px;
	color: #fff;
	text-align: center;
}


.mem-sign .hero-content {
	top: 50px;
}

.hero-content h1 {
	display: block;
	font-weight: bold;
	letter-spacing: .5px;
	margin-bottom: 12px;
	font-size: 44px;
	text-shadow: 2px 2px 0px rgba(0,0,0,.8), -1px -1px 3px rgba(0,0,0,.5), 1px 1px 10px rgba(0,0,0,.8);

	-ms-filter: "progid:DXImageTransform.Microsoft.GLow(color=#000000,strength=2)";



}


.hero-content a {
	color: #fff;
}

#login-hero .row {
	margin-top: 15px;
}


.hero-bottom {
	position: absolute;
	bottom: 1px;
	left: 0;
	z-index: 10;
}

.hero-credit {
	float: right;
	display: inline-block;
	font-size: 11px;
	z-index: 9;
	color: #fff;
	text-decoration: none;
	background-color: rgba(0,0,0,.5);
	padding: 5px;
	border: rgba(0,0,0,.9);
}

.hero-credit a {
	text-decoration: none;
	color: #efefef;
	text-shadow: 1px 1px 0px rgba(0,0,0,.95);
}

.mem-sign-feature {
	display: inline-block;
	vertical-align: middle;
	color: #333;
}

.pageOuter {
	
}

.pageOuter.gradient-down {
	background-color: #fff;
	background: -o-linear-gradient(top, #f0f0f0 0px, #ffffff 50px);
	background: -moz-linear-gradient(top, #f0f0f0 0px, #ffffff 50px);
	background: -webkit-linear-gradient(top, #f0f0f0 0px, #ffffff 50px);
	background: -ms-linear-gradient(top, #f0f0f0 0px, #ffffff 50px);
	
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #EEEEEE),
		color-stop(.25, #FFFFFF)
	);

}


section {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#subBrandsBtn {
	float: left;
	width: auto;
	position: relative;
	margin-right: 10px;
	left: 0px;
	top: 6px;
	padding-left:9px;
	padding-right:10px;
	height: 29px;
	overflow: hidden;
}

#subBrands {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: -100;
	background-color: #fff;
	background-color: rgba(255,255,255,.95);
	left: 0px;
	top: 45px;
	transition: opacity .5s;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	font-size: 14px;
	width: 200px;
	padding: 10px 0px;
	color: #fff;
}

#subBrands ul {
	max-height: 300px;
	overflow: auto;
}

.subBrandsOpen #subBrands {
	visibility: visible;
	opacity: 1;
	z-index: 11000;
}

#subBrandsBtn i {
	padding-top: 1px;
}


#subBrands:before {
	content: '';
	font-size: 0;
	display: inline-block;
	position: absolute;
	height: 0; 
	width: 0; 
	border-bottom: 8px solid rgba(255,255,255,.95); 
	border-left: 8px solid transparent; 
	border-right: 8px solid transparent;
	top: -8px;
	left: 12px;
}

#subBrands h1 {
	color: #333;
	font-size: 14px;
	padding: 5px 10px;
	border-bottom: 1px solid #efefef;
}
#subBrands a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid rgba(0,0,0,.10);
	font-size: 12px;
}

#subBrands li:first-child a {
	border-radius: 4px 4px 0px 0px;

}

#subBrands a:hover {
	background-color: #efefef;
}

#subBrands ul {
	margin-top: 0;
}

#headerActions {
	margin-top: 6px;
	font-size: 0px;
}

#headerActions .btn {
	text-shadow: none;
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
}

#headerActions .btn:first-child {
	margin-right: 10px;
}

header {
	font-size:0;
}


.headerLogo {
	font-size: 24px;
	color: #fff;
	margin: 0;
	padding:0;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.25);
	-webkit-font-smoothing: antialiased !important;
}

.brandFace {
	font-family: 'BrandFace',arial,sans;
}

.subBrandFace {
	font-family: 'SubBrandFace',arial,sans;	
}

#headerBrand {
	display: inline-block;
	padding-top: 8px;
}

#headerSubBrand {
	margin-left: 9px;
	display: inline-block;
	padding-top: 8px;
}

input:required {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


.row hr {
	border: 0;
	background-color: transparent;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(255,255,255,1); 
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 0px;
	height: 0px;
}
.contextual-left .browse-button {
	float: left;
	margin-right: 3px;
}

.contextual-right .browse-button {
	float: left;
	margin-left: 3px;
}


.profile-header {
	position: relative;
	background-color: #fff;
	margin-top: 25px;
	overflow: hidden;
}

.region-left {
	float: left;
	width: 120px;
	padding-top: 25px;
}

.region-right {
	float: left;
	width: 844px;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
	margin-top: 15px;
}

/* arrows on previous/next disabled on full size */
/* they are used on mobile */
.previous-arrow,
.next-arrow {
	display: none;
}

.contextual-left a.browse-button,
.contextual-right a.browse-button {
	border: 1px solid #ccc;
	padding: 6px 8px 5px 8px;
	border-radius: 4px;
	background: #fff;
}

.profile-middle {
	float: left;
	width: 480px;
	margin-bottom: 20px;
	clear: both;
	font-size: .8em;
}

.profile-right .section h2:nth-of-type(n+2) {
	margin-top: 12px;
}

.profile-whoweare ul {
	clear: both;
	float: left;
	margin-top: 0;
	padding: 10px 0px 10px 10px;
	background-color: whiteSmoke;
	border: 1px solid #EBEBEB;
	width: 308px;
}

.profile-whoweare li {
	display: inline;
	width: 80px;
	float: left;	
	margin-right: 10px;
}

.profile-personalstatement {
	border-top: 0;
	margin-top: 0;
	clear: both;
	line-height: 1.6em;
	font-size: 1.2em;
}

.profile-photo {
	position: relative;
	overflow: hidden;

}

.profile-photo a {
	display: inline-block;
	height: auto;
}

.profile-photo img {
	-webkit-transition: opacity .25s;
	-o-transition: opacity .25s;
	-moz-transition: opacity .25s;
}

.profile-personalstatement p:nth-of-type(1) {
	margin-top: 0px;
}

.profile-middle .profile-photo_gallery {
	margin-bottom: 10px;
}


/* @group Photo Gallery */

.gallery {
	width: 440px;
	background-color: #373737;
	border-radius: 4px;
	position: relative;
}

.profile-gallery {
/*	background-color: #373737; */
/*	padding: 4px 4px 26px 4px; */
	margin-bottom: 20px;
}

.gallery .photo-large {
	position: relative;
	margin: 0 auto;
	text-align:center;
	width: 100%;
	height: 270px;
	background-color: #262525;
	box-shadow: inset 0 0 8px #000000;
	border-radius: 4px;
	padding-top: 5px;
}


.gallery .photo-caption {
	text-align: center;
	padding: 5px 0px 0px 0px;
	color: #999;
	font-weight: bold;
	clear: both;
	height: 22px;
}

.gallery .thumbnails {
	position: relative;
	width: 100%;
	clear: both;
	background-color: #262525;
	box-shadow: inset 0 0 10px #000000;
	border-radius: 0px 0px 4px 4px;
	width: 440px;
	height: 83px;
	float: left;
}

.gallery .thumbnails-next {
	position: absolute;
	right: 0;
	top: 8px;
	width: 20px;
	height: 39px;
	margin: 13px 12px 0 12px;
	background-position: -143px -38px;
	cursor: pointer;
}

.gallery .thumbnails-prev {
	position: absolute;
	left: 0;
	top: 8px;
	width: 20px;
	height: 39px;
	margin: 13px 12px 0 12px;
	background-position: -122px -38px;
	cursor: pointer;
}

.gallery .thumbnails-scroll {
	position: absolute;
	left: 44px;
	width: 350px;
	overflow: hidden;
	padding-top: 10px;
	opacity: 0;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	-moz-transition: opacity 2s;
}

.gallery .thumbnails ul {
	position: relative;
	left: 0;
	transition: left 1s;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	-o-transition: left 1s;	
}

.gallery .thumbnails li {
	display: inline;
	padding-right: 2px;
}

.gallery .thumbnails li a {
	text-align: center;
	display: block;
	float: left;
}

.gallery .thumbnails img {
	float: left;
	padding: 1px;
	border: 1px solid #262525;
}
.gallery .thumbnails img.active {
	border: 1px solid #FF7800;	
}
.gallery .thumbnails li a.active {
	margin: 0;
}

.gallery #thumbnails #thumbnail_wrapper {
	float: left;
	width: 350px;
	overflow: hidden;
}

.gallery #thumbnails #thumbnail_scrolling {
	position: relative;
	float: left;
	width: 10000px;
}

#photo_thumbview {
	clear: both;
	background: #efefef;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding-left: 10px;
}

.gallery .photo-gallery-arrow {
	position: absolute;
	top: 0;
	left: 0;
}

.profile-gallery img {
	overflow: hidden;
}

/* @end */

.profile-contact_name {
	font-size: 1em;
	float: right;
	margin-top: -20px;
	color: #666;
}

.profile-contact-form {
	margin-top: 15px;
	width: 100%;
}

.contact-field {
	clear: both;
	width: 100%;
}
.contact-form label {
	font-weight: bold;
	float: left;
	padding-right: 20px;
}

.contact-field .textError {
	float: left;
}

.textError {
	padding-left: 10px;
}
.contact-form h1 {
	margin-bottom: 15px;	
}

.contact-form input {
	width: 175px;
}

.contact-form input[type=submit] {
	width: auto;
}

.contact-form input,
.contact-form textarea {
	float: left;
	clear: left;
}

.contact-form textarea {
	width: 440px;
	height: 100px;
}


.profile-finances {
	border-bottom: 0;
}

.profile-name {
	width: 60%;
}

.profile-name h1 {
	font-size: 1.6em;
}

.profile-right .profile-connections {
	padding-top: 10px;
}

.profile-right .profile-connections div {
	clear:both;
}

.connection-recommendation {
	clear: both;
	padding-bottom: 10px;
}

.connection-photo {
		float:left;
}

.connection-photo img {
	width:40px;
	height:50px;
	margin-right:4px;
	margin-bottom:4px;
	border:1px solid #e2e2e2;
}

.connection {
	padding: 10px 10px 0 10px;
}

.connection.even {
	background-color: #efefef;
}

.connection h4 {
	font-weight: bold;
	font-size: 12px;
}

.connection {
	float: left;
	clear: both;
	font-size: 12px;
	width: 95%;
}

.connection .connection-type {
	font-size: 11px;
	color: #666;
}

.connection-endorsement {
	font-style:italic;
	padding-top: 0;
	padding-bottom: 8px;
	line-height: 16px;
}

/* Rob: placeholder until network page can use this */
#network-page .connection-endorsement {
	padding-bottom: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.profile-right #tabs-endorsements div {
	overflow: hidden;
}

.map-addresses {
	line-height: normal;
	font-size: 12px;
	margin-top: 20px;
}

#map {
	float: left;
	width: 530px;
	height: 490px;
	border: 1px solid #ccc;
}

.map-addresses {
	float: left;
	width: 193px;
	font-size: .8em;
	margin-left: 15px;
}

.map-addresses .profile-address .link-email {
	display: none;
}

.map-addresses .section {
	margin-bottom: 15px;
}

.profile-title {
	color: #666;
	height: 19px;
	display: block;
}

.profile-title h2 {
	font-size: 1em;
}

.profile-phone {
	font-size: 1.6em;
	float:right;
	margin-top: -48px;
}

/* some non-phone mobile devices such as iPad are rendering */
/* the number as clickable even though it is not */
.profile-phone a {
	color: #000;
	text-decoration: none;
}

.profile-phone .ui-sprite {
	padding-left:40px;
	background-repeat: no-repeat;
	background-position: 10px -76px;
}

.profile-contact {
	color: #999;
	font-size: 1.1em;
	text-align: center;
}


.profile-menu {
	margin-top: 10px;
	position: relative;
	background-color: #fff;
	padding-bottom: 20px;

}

.profile-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	float: left;
	width: 824px;
	background-color: #efefef;
	border: 1px solid #ddd;
}

.profile-menu ul li {
	float: left;
	margin-right: 20px;
}

.profile-menu ul li a {
	text-decoration: none;
	color: #000;
}

.profile-menu ul li a:hover {
	color: #333;
}

.profile-menu ul li a.active {
	text-decoration: none;
	color: #ff7800;
}

.verified-wrapper {
	padding-top:6px;
}

.profile-verified {
	position:absolute;
	top: 0;
	right: 6px;
	width: 200px;
}

.verified {
	background-repeat: no-repeat;
	padding: 6px 8px 6px 26px;
	position:absolute;
	right:0;
	font-size: 0.7em;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	text-decoration: none;
	white-space: nowrap;
}

.verified span {
	font-weight: bold;
	font-size: 1em;
}

.profile-middle .section.profile-verified_content {
	border-top: none;
	font-size: 1em;
}

.profile-verified_content h1 {
	background-position: -180px -40px;
	background-repeat: no-repeat;
	color: #3767B8;
	padding: 7px 0 0 38px;
	height: 36px;	
}

.profile-verified_content .verified-disclaimer,
.disclaim,
#modal-verified .verified-disclaimer {
	font-size: .9em;
	line-height: 1.3em;
	color: #999;
	border-top: 1px solid #999;
}

.disclaim {
	font-size: .7em;
}

.profile-verified_content div.cols-1 {
	background-color: #efefef;
	border: 1px solid #ddd;
	padding: 8px 4px;
	margin-bottom: 8px;
}

.profile-verified_content ul {
	list-style-type: none;
	margin-left: 1em;
}

.profile-verified_content ul li {
	padding-bottom: 3px;
	font-size: 1em;
	font-weight: bold;
}

.profile-verified_content ul li:before {
	content:'\2022';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -10px;
	top: -0px;
	color: #333;
	font-size: 1em;
}

.profile-contact a.button {
	display: block;
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	border-radius:2px;
	margin-top: 5px;
	color: #333;
	text-decoration: none;
	font-size: 80%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-contact a.highlight {
	background-color: #FF9211;
	color: #fff;
	border: 1px solid #f68900;
	text-shadow: 1px 1px 0px #DF7D0A;
}

.profile-contact a.highlight:hover {
	background-color: #fb9f00;
}

.group-small 
{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

.group-small a,
.profile-verify-ins a {
	color: #000;
	border-bottom: none;
}

.group-small h3 {
	margin-top: 1em;
}

.group-small h2 a {
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
}

/* groups page */
.section.profile-groups_left .group-small h2 a {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: normal;
}

.group-small p,
.group-full p {
	line-height: 1.5em;
}

/* groups page */
.section.profile-groups_left .group-small p,
.section.profile-groups_left .group-small a {
	font-size: 1.2em;
}

.profile-middle .group-full h2.group-title {
	font-weight: normal;
	font-size: 1.8em;
}

.profile-group ul li,
.profile-group2 ul li, 
.profile-group3 ul li {
	font-size: 0.8em;
	line-height: 1.6em;
}

.group-full p {
	font-size: 1.2em;
	line-height: 1.6em;
}

.group-full h4 {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 10px;
}

.group-address {
	float: left;
	width: 48%;
	font-size: 13px;
}

.group-when {
	float: left;
	width: 48%;
	font-size: 13px;
	margin-left: 2%;
}

.group-col {
	float: left;
	width: 48%;
	margin-right: 2%;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 1.3em;
}
.group-contact {
	float: left;
	clear: both;
	width: 422px;
	border: 1px solid #ebebeb;
	margin-bottom: -22px;
	margin-top: 0;
	background-color: #f5f5f5;
	padding: 8px;

}

.group-contact a {
	color: #000;
}

.profile-middle .section,
.profile-right .section {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

.profile-change_block {
	border: none;
}

.profile-middle div.section:first-child,
.profile-right div.section:first-child {
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
}

.profile-right {
	float: left;
	position: relative;
	overflow: hidden;
	width: 320px;
	margin-left: 20px;
	border-left: 1px solid #ddd;
	padding-left: 20px;
	font-size: 0.8em;
}

.profile-specialties {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

.profile-bottom {
	clear: both;
}

.profile-middle h3,
.profile-right h3 {
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 1em;
	font-weight: bold;
}

.spec-list {
	clear: both;
}

.spec-list ul {
	list-style-type: none;
	margin-left: 1em;
}

.spec-list ul li {
	padding-bottom: 3px;
	font-size: 1em;
}

.spec-list ul li:before {
	content:'\2022';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -10px;
	top: -0px;
	color: #333;
	font-size: 1em;
}

.profile-address,
.profile-address2 {
	position: relative;
	font-size:1.25em;
}

html:not(.js) .profile-address .ui-button {
	display: none;
}


.profile-address .link-email {
	font-family: Arial, Helvetica, Sans-serif;
	background-color: whiteSmoke;
	cursor: pointer;
	border: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
	border: 1px solid #DDD;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-left: 0px;
	color: #333;
	font-size: 11px;
	display: inline-block;
	text-decoration: none;
}

.profile-adddress .link-email {
	font-family: Arial, Helvetica, Sans-serif;
	background-color: #f5f5f5;
	cursor: pointer;
	border: 0;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-left: 0px;
	
}

.profile-nearby ul,
.profile-nearby ul li {
	list-style-type: none;
	margin: 0;
}

.profile-nearby .profile-list-comma {
	clear: both;
	float:left;
	margin-top: 10px;
}

.profile-nearby ul li a {
	color: #000;
	text-decoration: none;
}

.profile-nearby h3 {
	clear: both;
	float:left;
	margin-top: 10px;
	font-size: 1em;
	font-weight: bold;
}

.tab-pane h4 {
	margin-bottom:0px;
}

.tab-pane span a {
	font-weight: bold;
}

.tab-pane a {
	color: #333;
	text-decoration:none;
}

/* blue tabs in right column */
.tabs .icon {
	width: 11px;
	height: 9px;
	background-repeat: no-repeat;
	background-position: 0px -495px;
	left: -8px;
	position: relative;
	display: block;
}

.profile-issues span,
.profile-expertise span {
}

.profile-expertise,
.profile-projects,
.profile-greenbuilding {
	margin-top: 1em;
}

.profile-clientfocus {
	margin-top: 1em;
}

.profile-credentials span,
.profile-additionalcredentials span,
.profile-finances span,
.profile-qualifications span,
.profile-clientfocus span,
.profile-greenbuilding span {
	font-weight: bold;
}

.profile-credentials li,
.profile-additionalcredentials li,
.profile-finances li,
.profile-qualifications li,
.profile-clientfocus li,
.profile-greenbuilding li {
	padding-bottom: 3px;
}

.profile-freeinitial {
	font-size: 1.2em;
} 
.section.profile-freeinitial a {
	color: #000;
}

.profile-verify-ins {
	margin-bottom: 0px;
}

.profile-freeinitial strong {
	margin-bottom: .3em;
}

.section.profile-freeinitial + .section {
	border: 0;
}

.profile-right h2,
.profile-middle h2 {
	clear: both;
	width: 100%;
	font-size: 1.2em;
	margin-bottom: 1em;
}

.profile-right label {
	font-weight: bold;
}

.profile-right .tabs {
	width: 340px;
}

.profile-right .tab-pane {
	clear:both;	
	padding-top:10px;
	overflow:hidden;
}

.profile-list {
	clear: both;
}

.profile-right .tabs ul {
	list-style-type: none;
	margin: 0;
}

.profile-right .tabs ul li {
	float: left;
	margin-right: 2px;
	padding: 2px 0px 3px 0px;
	position: relative;
	
}

.profile-right .tabs ul li a {
	color: black;
	text-decoration: none;
	font-size: 0.9em;
	padding: 2px 9px 3px 9px;
}

.profile-right .tabs ul li a.tab-active {
	background: #014277;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#003162,endColorstr=#014277)";
	background:-webkit-gradient(linear, left top, left bottom, from(#003162), to(#014277));
	background: -moz-linear-gradient(top, #003162, #014277);
	background: -ms-linear-gradient(top, #003162, #014277);
	background: -o-linear-gradient(top, #003162,#014277);
	padding: 2px 7px 3px 7px;
	border-radius: 4px;
	color:#fff;
	font-weight:bold;
	cursor: default;
}

.profile-right .tabs .arrow {
	position: absolute;
	top: 15px;
	left: 50%;
	display:block;
	width: 9px;
}

.profile-right .tabs.item-list ul li a:hover {
	border-radius: 4px;
	background: #e8e8e8;
	padding: 2px 9px 3px 9px;
}

#gallery-large {
	width: 90%;
}


.profile-title .glossary-button {
	color: #666;
}


.profile-title .glossary-button {
	margin-top: 2px;
	margin-right: -4px;
}

.ui-popup.glossary-popup.processed {
	color: #333;
	background-color: #FBF7AA;
	border: 1px solid #F9E98E;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #afafaf;
	padding: 15px;
}

.glossary-button {
	position: relative;
	border: none;
	padding: inherit;
	margin: inherit;
	font-size: inherit;
	font-family: inherit;
	background-color: #fff;	
	text-align: inherit;
	font-weight: normal;
	padding-bottom: 0px;
}

.glossary-button .glossary-icon {
	float: right;
	background-repeat: no-repeat;
	background-position: 0px -508px;
	margin-left: 3px;
	margin-top: 0px;
	width: 13px;
	height: 15px;
}

.profile.no-profile-right .profile-middle {
	width: 760px;
	padding-right: 34px;
}

.contact-form-preview {
	padding: 0;
	border: 1px solid #ddd;
	margin-bottom: -22px;
	margin-top: 0;
	background-color: #efefef;
	padding: 8px;
}

.section.profile-freeinitial,
.profile-middle .section:first-child.profile-freeinitial,
.profile-verify-ins {
	/*padding: 0;
	width: 100%;
	border: 1px solid #ddd;*/
	margin-bottom: -22px;
	margin-top: 0px;
	/*background-color: #efefef;
	/*padding: 8px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	/*-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	/*box-sizing: border-box;*/
}

#prof-home #navigation-wrapper {
	display: none;
}

.last-modified {
	font-size: .7em;
	color: #999;
	text-align: right;
}

.profile-page-menu h3 {
	font-weight: normal;
	font-size: 1.3em;
}

.profile-page-menu ul {
	list-style-type: none;
	margin: 0;
}

.profile-page-menu ul li {
	background-color: #e6edf8;
	list-style-type: none;
	padding: 8px;
	margin: 0;
	border-bottom: 4px solid #fff;
}

.profile-page-menu ul li:before {
	display: none;
}

.profile-page-menu ul li a {
	color: #0672d5;
	text-decoration: none;
	font-size: 1.1em;
}

.section.profile-groups_left {
	width: 440px;
}

.profile-spec_zone_2 .highlight {
        color: #090;
        font-style: normal;
}

.section-content {
	clear: both;
}

#contextual {
	margin-top: 15px;
}

.flagging .profile-phone {
	margin-top: -25px;
	margin-right: 25px;
}

.profile .flagBtn {

}
.address {
	margin-bottom: 5px;
}

.glossary-definition {
	line-height: 18px;
}


.section.profile-groups {
	border: none;
}

.BUILD .verified {
	background-position: 5px -466px;
	color: #FF8500;
}

.BUILD .profile-verified_content h1 {
	background-position: -180px -461px;
	color: #039;
}

.statementPara {
	margin-top: 15px;
	margin-bottom: 15px;
}
@font-face {
    font-family: 'Questrial';
    src: url('/images/fonts/Questrial-Regular/Questrial-Regular.eot');
    src: url('/images/fonts/Questrial-Regular/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/Questrial-Regular/Questrial-Regular.woff') format('woff'),
         url('/images/fonts/Questrial-Regular/Questrial-Regular.ttf') format('truetype'),
         url('/images/fonts/Questrial-Regular/Questrial-Regular.svg#questrialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.brandFace {
	font-family: "Questrial", Sans-Serif;
}

.subBrandFace {
	font-family: "Questrial", Sans-Serif;
}

#headerLogo {
	text-indent: -20000px;
	display: inline-block;
	width: 125px;
	height: 32px;
	background-position: 0px -390px;
	position: relative;
	top: 0px;
	vertical-align: top;
}
#headerBrand {
	padding-top:7px;
	vertical-align: top;
}

#headerSubBrand {
	padding-top: 8px;
	vertical-align: top;
	font-size: 27px;
}
.verified {
	background-position: 5px -107px;
	color: #3767b8;
}


