@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
  @*  <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/SCRIPTS/scriptCognetwork.js" type="text/javascript"></script>*@
    
</head>
<body>
    @using (Html.BeginForm("AddProviderDocument", "Directory",null,FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div id="update-message" class="error" style="padding-left: 250px; font-weight: bold;">
        </div>
        <div class="content-box">
           @* <div class="content-box-header">
                <h3>
                    <span id="lblattribute">Add document</span>
                </h3>
                <div class="clear">
                </div>
            </div>*@
            <div class="content-box-content">
                <table id="tblProvAttributes" border="0" cellspacing="1" cellpadding="6" width="100%"
                    class="border_style" align="center">
                    <tr class="white_color">
                        <td style="font-weight:bold;" align="right" width="40%">
                            <span style="color: Red;">*</span>Title :&nbsp;
                        </td>
                        <td width="60%" align="Left" id="tdAddDoctitlemain">
                            @Html.TextBox("txtTitle_AddDoc",null, new {@class = "textfield", maxlength = "100", style = "width:300px;" })
                            @* <asp:TextBox ID="txtTitle"  class="textfield" MaxLength="100" Width="300px"></asp:TextBox>*@
                        </td>
                    </tr>
                    <tr class="white_color">
                        <td align="right" width="40%">
                            <b>Description :&nbsp;</b>
                        </td>
                        <td width="60%" align="Left" id="tdAddDocdescriptionmain">
                            @Html.TextArea("txtDescription_AddDoc", null, 3, 3, new { @class = "textfield", maxlength = "1000", style = "width:500px;height:100px;" })
                            @*<asp:TextBox ID="txtDescription"  Rows="3" class="textfield" TextMode="MultiLine"
                            Height="100px" Width="500px"></asp:TextBox>*@<br />
                            &nbsp;&nbsp;<span>(Maximum length 1000 characters)</span>
                        </td>
                    </tr>
                    <tr class="white_color">
                        <td style="height: 15px" align="right" width="40%">
                            <a id="FileName" href="#"></a>&nbsp;&nbsp; &nbsp;&nbsp;<font color="red">*</font><span
                                id="Label2" style="font-weight:bold;">Attach new file :</span> &nbsp;
                        </td>
                        <td style="height: 15px" width="60%" align="Left" id="tdAddDocuploadmain">
                            <table cellspacing="1" cellpadding="1" id="tblFiles" width="100%" border="0">
                                <tr id="attachcheck">
                                    <td>
                                        <div id="inputsPlace">
                                            <div id="div1">
                                                <input type="checkbox" id="check1" style="display:none;" /><input type="file" id="myFile1" name="myFile1"
                                                    style="margin-left: 0px; background-color: White;" />&nbsp;&nbsp;(Maximum file
                                                size : 10mb)
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="white_color" id="trpublic">
                        <td style="font-weight:bold;" align="right" width="40%">
                            <span style="color: Red;">*</span>Display in public :&nbsp;
                        </td>
                        <td width="60%" align="left">
                            @Html.RadioButton("rbtyes_AddDoc", "Yes", new { @onclick = "return checkyes();" })&nbsp;Yes&nbsp;@Html.RadioButton("rbtno_AddDoc", "No",true, new { @onclick = "return checkno();" })&nbsp;No
                            @*  <asp:RadioButton ID="rbtyes"  Text="&nbsp;Yes" GroupName="grppublic" />&nbsp;
                        <asp:RadioButton ID="rbtno"  Text="&nbsp;No" GroupName="grppublic" />*@
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" id="tblAddDocmain"
                    style="display: none;">
                    <tr class="white_color" align="center">
                        <td id="tdAddDoctitle" height="30px" style="display: none;">
                            <span id="lblAddDoctitle" style="font-weight:bold;color:Black;" ></span>
                        </td>
                    </tr>
                    <tr class="white_color" align="center">
                        <td id="tdAddDocdescription" height="30px" style="display: none;">
                            <span id="lblAddDocdescription" style="font-weight:bold;color:Black;"></span>
                        </td>
                    </tr>
                    <tr class="white_color" align="center">
                        <td id="tdAddDocupload" height="30px" style="display: none;">
                            <span id="lblAddDocupload" style="font-weight:bold;color:Black;"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <table id="tblbuttons" width="100%">
                <tr>
                    <td width="100%" align="right" style="padding-right: 10px; padding-bottom: 5px;">
                        <input type="submit" id="imgbtnSaveFile" value="Save" class="button" onclick="return AddDocValidate('');" />
                        <input type="button" class="close button" name="Cancel" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
        
        
    }
</body>
    <script type="text/javascript">
        function clearalerts() {
            ValidateAlertClear('tblAddDocmain', 'lblAddDoctitle', 'tdAddDoctitle', 'tdAddDoctitlemain', 'white');
            ValidateAlertClear('tblAddDocmain', 'lblAddDocdescription', 'tdAddDocdescription', 'tdAddDocdescriptionmain', 'white');
            ValidateAlertClear('tblAddDocmain', 'lblAddDocupload', 'tdAddDocupload', 'tdAddDocuploadmain', 'white');
        }
        function AddDocValidate(Filename) {
            var str_Title;
            str_Title = trim(document.getElementById('txtTitle_AddDoc').value);
            document.getElementById('txtTitle_AddDoc').value = str_Title;
            if (str_Title == '') {
                clearalerts();
                //Glb_ShowAlert("Please enter title");
                document.getElementById('tblAddDocmain').style.display = '';
                document.getElementById('lblAddDoctitle').innerHTML = "Please enter title";
                document.getElementById('tdAddDoctitle').style.display = '';
                document.getElementById('tdAddDoctitle').bgColor = "orange";
                document.getElementById('tdAddDoctitlemain').bgColor = "orange";
                document.getElementById('txtTitle_AddDoc').focus();
                return false;
            }
            else {

                ValidateAlertClear('tblAddDocmain', 'lblAddDoctitle', 'tdAddDoctitle', 'tdAddDoctitlemain', 'white');
            }
            var ta = document.getElementById('txtDescription_AddDoc');
            if (ta.value.length > 1000) {
                clearalerts();
                //Glb_ShowAlert('Please enter description less than  1000 characters');
                document.getElementById('tblAddDocmain').style.display = '';
                document.getElementById('lblAddDocdescription').innerHTML = "Please enter description less than  1000 characters";
                document.getElementById('tdAddDocdescription').style.display = '';
                document.getElementById('tdAddDocdescription').bgColor = "orange";
                document.getElementById('tdAddDocdescriptionmain').bgColor = "orange";
                document.getElementById('txtDescription_AddDoc').focus();
                return false;
            }
            else {

                ValidateAlertClear('tblAddDocmain', 'lblAddDocdescription', 'tdAddDocdescription', 'tdAddDocdescriptionmain', 'white');
            }
            if (document.getElementById("tblFiles").style.display == '') {
                clearalerts();
                var container = document.getElementById("inputsPlace");
                var inputElls = container.getElementsByTagName("input");
                var count = 0;
                var count1 = 0;
                for (var i = 0; i < inputElls.length; i++) {
                    var inputElement = inputElls[i];
                    if (inputElement.type == "checkbox") {
                        clearalerts();
                        count += 1;
                        // alert(count);
                        var fileval = inputElement.id.replace('check', 'myFile');
                        if (document.getElementById(fileval).value != "") {
                            clearalerts();
                            count1 += 1;

                            var str = document.getElementById(fileval).value;
                            var Strr = str.toUpperCase();
                            if ((Strr.indexOf(".DOC") == -1) && (Strr.indexOf(".DOCX") == -1) && (Strr.indexOf(".TXT") == -1) && (Strr.indexOf(".XLS") == -1) && (Strr.indexOf(".PPS") == -1) && (Strr.indexOf(".PPT") == -1) && (Strr.indexOf(".PDF") == -1) && (Strr.indexOf(".XLSX") == -1) && (Strr.indexOf(".PPTX") == -1) && (Strr.indexOf(".ZIP") == -1) && (Strr.indexOf(".RAR") == -1) && (Strr.indexOf(".GIF") == -1) && (Strr.indexOf(".PNG") == -1) && (Strr.indexOf(".JPG") == -1)) {
                                clearalerts();
                                //Glb_ShowAlert("Please select only doc,docx,txt,xls,pps,ppt,pdf,zip,rar, GIF, PNG, JPG files for document file");
                                document.getElementById('tblAddDocmain').style.display = '';
                                document.getElementById('lblAddDocupload').innerHTML = "Please select only doc, docx, txt, xls, pps, ppt, pdf, zip, rar, gif, png, jpg files for document file";
                                document.getElementById('tdAddDocupload').style.display = '';
                                document.getElementById('tdAddDocupload').bgColor = "orange";
                                document.getElementById('tdAddDocuploadmain').bgColor = "orange";
                                return false;
                            }
                            else {

                                ValidateAlertClear('tblAddDocmain', 'lblAddDocupload', 'tdAddDocupload', 'tdAddDocuploadmain', 'white');
                            }
                        }
                    }
                }
                if (count != 0) {
                    clearalerts();
                    if (count1 == 0) {

                        clearalerts();
                        //Glb_ShowAlert('Please select at least one file');
                        document.getElementById('tblAddDocmain').style.display = '';
                        document.getElementById('lblAddDocupload').innerHTML = "Please select at least one file";
                        document.getElementById('tdAddDocupload').style.display = '';
                        document.getElementById('tdAddDocupload').bgColor = "orange";
                        document.getElementById('tdAddDocuploadmain').bgColor = "orange";
                        return false;
                    }
                    else {

                        ValidateAlertClear('tblAddDocmain', 'lblAddDocupload', 'tdAddDocupload', 'tdAddDocuploadmain', 'white');
                    }
                }
                else {
                    if (count1 == 0) {

                        clearalerts();
                        //Glb_ShowAlert('Please select at least one file');
                        document.getElementById('tblAddDocmain').style.display = '';
                        document.getElementById('lblAddDocupload').innerHTML = "Please select at least one file";
                        document.getElementById('tdAddDocupload').style.display = '';
                        document.getElementById('tdAddDocupload').bgColor = "orange";
                        document.getElementById('tdAddDocuploadmain').bgColor = "orange";
                        return false;
                    }
                    else {

                        ValidateAlertClear('tblAddDocmain', 'lblAddDocupload', 'tdAddDocupload', 'tdAddDocuploadmain', 'white');
                    }
                }

            }
            //            if (document.getElementById("FileUpLoad").style.display == '') {
            //                clearalerts();
            //                if (Filename == '') {
            //                    clearalerts();
            //                    if (document.getElementById("FileUpLoad").value == '') {
            //                        clearalerts();
            //                        //Glb_ShowAlert("PLease select file");
            //                        document.getElementById('tblmain').style.display = '';
            //                        document.getElementById('lblupload').innerHTML = "PLease select file";
            //                        document.getElementById('tdupload').style.display = '';
            //                        document.getElementById('tdupload').bgColor = "orange";
            //                        document.getElementById('tduploadmain').bgColor = "orange";
            //                        return false;
            //                    }
            //                    else {

            //                        ValidateAlertClear('tblmain', 'lblupload', 'tdupload', 'tduploadmain', 'white');
            //                    }
            //                }
            //                if (document.getElementById('FileUpLoad').value != "") {
            //                    clearalerts();
            //                    var str = document.getElementById('FileUpLoad').value;
            //                    var Strr = str.toUpperCase();
            //                    if ((Strr.indexOf(".DOC") == -1) && (Strr.indexOf(".DOCX") == -1) && (Strr.indexOf(".TXT") == -1) && (Strr.indexOf(".XLS") == -1) && (Strr.indexOf(".PPS") == -1) && (Strr.indexOf(".PPT") == -1) && (Strr.indexOf(".PDF") == -1) && (Strr.indexOf(".XLSX") == -1) && (Strr.indexOf(".PPTX") == -1) && (Strr.indexOf(".ZIP") == -1) && (Strr.indexOf(".RAR") == -1) && (Strr.indexOf(".GIF") == -1) && (Strr.indexOf(".PNG") == -1) && (Strr.indexOf(".JPG") == -1)) {
            //                        //Glb_ShowAlert("Please select only doc,docx,txt,xls,pps,ppt,pdf,zip,rar, GIF, JPG, PNG files for document file");
            //                        document.getElementById('tblmain').style.display = '';
            //                        document.getElementById('lblupload').innerHTML = "Please select only doc, docx, txt, xls, pps, ppt, pdf, zip, rar, gif, jpg, png files for document file";
            //                        document.getElementById('tdupload').style.display = '';
            //                        document.getElementById('tdupload').bgColor = "orange";
            //                        document.getElementById('tduploadmain').bgColor = "orange";
            //                        return false;
            //                    }
            //                    else {

            //                        ValidateAlertClear('tblmain', 'lblupload', 'tdupload', 'tduploadmain', 'white');
            //                    }
            //                }
            //            }
            //            document.getElementById('divloading').style.display = '';
            //            document.body.style.cursor = 'wait';
        }
        function checkyes() {

            document.getElementById("rbtyes_AddDoc").checked = true;
            document.getElementById("rbtno_AddDoc").checked = false;

        }
        function checkno() {
            document.getElementById("rbtyes_AddDoc").checked = false;
            document.getElementById("rbtno_AddDoc").checked = true;
        }
    </script>
</html>
