@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    @*<title>Showfbhelp</title>*@
</head>
<body>
    <div id="divCvv" >
                                            <table id="Table7" width="100%">
                                                <tr>
                                                    <td style="text-align:center;">
                                                        <img src="~/Images/sc16.png" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
</body>
</html>
