@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   @* <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
    @Scripts.Render("~/Scripts/Thscriptscript")
    @* <script src="~/Scripts/scriptCognetwork.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>*@
</head>
<body>


<script type="text/javascript">
    $(window).load(function () {

        window.open('@ViewBag.url', '_blank');
        return false;
    });
</script>
    <div>
        
    </div>
</body>
</html>
