@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  @*  <meta name="viewport" content="width=device-width" />*@
    <title>LinkedSites</title>
</head>
<body>
    <div>
        <table width="100%"    >
                        <tr>
                            <td style="background-color: #0274D1;" colspan="3" rowspan="1">
                                <label style="color:#fff;font-size:large;" >Partner sites</label>
                            </td>
                        </tr>
                         <tr>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td >
                                <a   target="_blank" href="http://www.Plumber-help.net" title="Mower Helper-Find an Mower Helper" style="font-size:18pt;color:#0274D1;">Plumber Help</a>
                            </td>
                          
                            <td >
                                <a   target="_blank"  href="http://www.dietitian-help.com" title="Mower Helper-Find an Mower Helper" style="font-size:18pt;color:#0274D1;">Dietitian Help</a>
                            </td>
                              
                            <td>  <a   target="_blank" href="http://www.dietitian-help.com" title="HVAC Tech -Find an HVAC Tech" style="font-size:18pt;color:#0274D1;">HVAC Tech</a></td>
                           
                            
                        </tr>
                        <tr>
                            <td>

                            </td>
                        </tr>
                        <tr>
                             <td>  <a  target="_blank" href="http://www.dietitian-help.com" title="Counselor-Help -Find an Counselor" style="font-size:18pt;color:#0274D1;">Counselor Help</a>
                            <td>  <a  target="_blank" href="http://www.dietitian-help.com" title="Mower helper Help -Find an Mower helper" style="font-size:18pt;color:#0274D1;">Mower helper Help</a></td>
                              <td>  <a  target="_blank" href="http://www.dietitian-help.com" title="Massage-Therapist -Find an Massage Therapist" style="font-size:18pt;color:#0274D1;">Massage Therapist</a></td>
                        </tr>
                    </table>
    </div>
</body>
</html>
