@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   @* <meta name="viewport" content="width=device-width" />*@
   <title>Mower Helper-Find an Mower Helper</title>
     <link href="~/Content/common.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript">
        window.history.forward(-1);
    </script>
</head>
<body>
    <div id="wrapper">
      
        <div id="flt02">
            <div id="bodycon">
                <div id="contentpannel" class="padding-top">
                    <div style="height: 450px; margin-top: 110px;">
                        <p style="font-family: Arial; font-weight: bold; font-size: 15px; text-align: center;">
                            Your session has been expired, <br /> &nbsp;Please close the window and re-login.
                           
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>
