@model MowerHelper.Models.Classes.StateCity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
      <title>Mower Helper-Find an Mower Helper</title>
    <script type="text/javascript">
        function Validate() {


            document.getElementById('tdcat').bgColor = "White";
            document.getElementById('lblErrcat').style.display = 'none';
            document.getElementById('tdbody').bgColor = "White";
            document.getElementById('lblErrbody').style.display = 'none';

            if (document.getElementById('DDLCategory').selectedIndex == 0) {
                document.getElementById('lblErrcat').style.display = '';
                document.getElementById('lblErrcat').innerHTML = 'Please select category.';

                document.getElementById('tdcat').bgColor = "orange";
                document.getElementById('DDLCategory').focus();
                return false;
            }
            else {
                document.getElementById('tdcat').bgColor = "White";
                document.getElementById('lblErrcat').style.display = 'none';

            }

            var title = trim(document.getElementById('txtTitle').value);
            document.getElementById('txtTitle').value = title;
            if (document.getElementById('txtTitle').value == '') {
                document.getElementById('lblErrbody').style.display = '';
                document.getElementById('lblErrbody').innerHTML = 'Please enter email msg body';
                document.getElementById('tdbody').bgColor = "orange";
                document.getElementById('txtTitle').focus();
                return false;
            }
            else {
                document.getElementById('tdbody').bgColor = "White";
                document.getElementById('lblErrbody').style.display = 'none';

            }
            if (document.getElementById('txtTitle').value.length > 50) {
                document.getElementById('lblErrbody').style.display = '';
                document.getElementById('lblErrbody').innerHTML = 'email msg body description can be up to 50 characters';
                document.getElementById('tdbody').bgColor = "orange";
                document.getElementById('txtTitle').focus();
                return false;
                return false;
            }
            else {
                document.getElementById('tdbody').bgColor = "White";
                document.getElementById('lblErrbody').style.display = 'none';

            }


        }
    </script>
</head>
<body>
    @using (Html.BeginForm("AddEmailoption", "Technicalarea", FormMethod.Post, null))
    {
 <div class="content-box">
       <div class="content-box-content">
           <table class="border_style" cellspacing="1" cellpadding="6" width="100%" align="center"
               border="0">
               <tr height="10" runat="server" class="white_color">
                   <th align="right" width="25%">
                       <b><font color="red">*</font></b> <strong>E-mail Category :</strong>&nbsp;
                   </th>
                   <td align="left" id="tdcat" runat="server" width="75%">
                                          @if (Model.StateList != null)
                                          {
                                                                            @Html.DropDownList("DDLCategory", Model.StateList, "--Select category--", new { @style = "width:270px;height:25px;font:13px;" })
                                          }
                                                                                          &nbsp;&nbsp;&nbsp <span id="lblErrcat" style="font-weight: bold; color: Black"></span>
                   </td>
               </tr>
               <tr height="10" class="white_color" runat="server">
                   <th align="right">
                       <b><font color="red">*</font></b> <strong>E-mail Msg body :</strong>&nbsp;
                   </th>
                   <td align="left" id="tdbody" runat="server">
                       @Html.TextArea("txtTitle", null, 3, 3, new { @class = "textfield", style = "width:400px;height:80px;" })
                          <br />
                                (Maximum length upto 50 characters)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="lblErrbody" style="font-weight: bold; color: Black"></span>
                   </td>
               </tr>
           </table>
                                                                                       <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr class="background_color">
                                                        <td align="right" style="padding-top: 5px; padding-bottom: 5px; padding-right: 10px;">

                                             <input type="submit" id="btnSave" value="Save" title="Save" class="button" onclick="return Validate();" />
                                                          &nbsp;
                                              <input type="button" class="close button" name="Cancel" value="Cancel" />
                                                        </td>
                                                    </tr>
                                                </table>
      </div></div>
    }
</body>
</html>
