@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
 @*   <meta name="viewport" content="width=device-width" />*@
    <title>ProviderPayType</title>
     <script src="~/Scripts/Expire.js" type="text/javascript"></script>
    <script type="text/javascript" >
        function rblMonthlycheck() {
            if (document.getElementById("rblYearly").checked == true) {
                document.getElementById("rblYearly").checked = false;
            }
           
        }
        function rblYearlycheck() {
            if (document.getElementById("rblMonthly").checked == true) {
                document.getElementById("rblMonthly").checked = false;
            }
        }
    </script>
</head>
<body>
      @using (Html.BeginForm("ProviderPayType", "Providers", FormMethod.Post, null))
    {
          <input type="hidden" id="HdnLoginiD" name="HdnLoginiD" value="@ViewBag.Login_ID" />
    <table class="border_style" cellspacing="1" cellpadding="8" width="100%" align="center" border="0">
                <tr height="10" class="white_color" runat="server">
                    <td align="right" width="35%">
                        <strong>Select default payment type :</strong>
                    </td>
                    <td width="65%" align="left">
                         @{ bool Month4;
                                                                                                       bool Year4;
                                                                                                    }
                                                                                                    @if (ViewBag.monthYearType == "22")
                                                                                                    {
                                                                                                        Month4 = true;
                                                                                                        Year4 = false;
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        Month4 = false;
                                                                                                        Year4 = true;
                                                                                                    }
                       @Html.RadioButton("rblMonthly",Month4,Month4 , new { @onclick = "return rblMonthlycheck();" })&nbsp;Monthly   
                        <br />                     
                       @Html.RadioButton("rblYearly",Year4,Year4 , new { @onclick = "return rblYearlycheck();" })&nbsp;Yearly
                    </td>
                </tr>
        </table>
     <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr class="background_color">
                                                        <td align="right" style="padding-top: 5px; padding-bottom: 5px; padding-right: 10px;">
                                                         <input type="submit" id="btnSave" value="Save" title="Save" class="button"/>&nbsp;

                                              <input type="button" class="close2 button" name="Cancel" value="Cancel" />
                                                        </td>
                                                    </tr>
                                                </table>
      }
</body>
</html>
