@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
         <title>Mower Helper-Find an Mower Helper</title>
    <script type="text/javascript">
        $(document).ready(function () {

            var psize = $('#hdnpagesize').val();
            if (psize != '') {
                $('#ddlrecords').val(psize);
            }
            else {
                $('#ddlrecords').val("10");

            }

        });
    </script>
</head>
<body>
        @using (Html.BeginForm("Provideruploaddetails", "Adminarea", FormMethod.Get, null))
    {
             <input id="hdnpagesize" name="hdnpagesize" type="hidden" value="@ViewBag.pagesize"/>
<div class="content-box">
                                                                            <div class="content-box-header" runat="server" style="height: 25px">
                                                                                <table width="100%" cellpadding="0" cellspacing="0" style="float: left;">
                                                <tr>
                                                    <td width="60%" align="left">
                                                        <h3>
                                                            Provider upload details</h3>
                                                    </td>
                                                       @if (Convert.ToInt32(ViewBag.totrec) > 0)
                                                       {
                                                                                                                                                            <td width="20%" align="center">
                                                        <ul style="list-style: none!important; padding-right: 5px; padding-top: 5px;" class="content-box-tabs">
                                                           
                                                            <li>
                                                         <strong>Rows per page :&nbsp;</strong>
                                                                @{Html.RenderAction("Rowsperpage", "Profiles", new { @id = "1" });}
                                                         @* @{Html.RenderAction("Rowsperpage", "Practice", new { @id = "1" });}*@
                                                            </li>
                                                        </ul>
                                                    </td>
                                                       }
                                                </tr>
                                            </table>
                                        </div>        
                                                               
                                        <div class="content-box-content">
                                            @{ WebGrid providerdocgrid = new WebGrid(rowsPerPage: Convert.ToInt32(ViewBag.pagesize ?? "10"));}
                                            @{WebGrid grid = providerdocgrid.Bind(rowCount: Convert.ToInt32(ViewBag.totrec), source: Model, autoSortAndPage: false);
                                              if (grid.TotalRowCount != 0)
                                              {
                                                  int count = 0;
                                                  string pager = grid.Pager().ToString();
                                                  string pageno = (Request["page"] == null ? "1" : Request["page"]);
                                                  string newpager = System.Text.RegularExpressions.Regex.Replace(pager, "(\\d+) ", "<span class='selected'>" + pageno + "</span>");
                                                  string gridhtml = grid.GetHtml(tableStyle: "gridTable", headerStyle: "gridHead", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",
                                                  columns: grid.Columns(

                                                  grid.Column("R_No", "#", canSort: false),
                                                  grid.Column("ProviderName", "Provider name", canSort: false),
                                                  grid.Column("Counts", "Total files", canSort: false),
                                                   grid.Column("Size_KB", "Total files size", canSort: false)

                                                 )).ToString();
                                                  gridhtml = System.Text.RegularExpressions.Regex.Replace(gridhtml, "<tfoot>([^<]*|<[^/]*|</[^t]*)*</tfoot>", "");
                                                @(new HtmlString(gridhtml))
                                                <br />
                                                <div class="gridFooter" style="padding-left: 500px;">@(new HtmlString(newpager))</div>  
                                                <br />



                                              }
                                              else
                                              {
                                                <table id="tblMsg" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                                                    <tr id="trcpterror" class="white_color">
                                                        <td align="center" height="25px" valign="middle" colspan="2">
                                                            <span id="lbl_NoRecordMsg" class="errormsg" style="font-size: 13px; font-weight: bold;">
                                                               No provider upload details found.</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                              }
                                              }
                                        </div>
                                </div>
    


        }
</body>
</html>
